+b.player_video
	+e.item
		img(src=pathImg+'preview__video.jpg')
		+e('a').item-description.link(href="#")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, hic voluptas qui, enim natus sint iste? Sunt dicta nostrum aliquid debitis eum amet, sapiente. Quae ipsa provident similique, soluta asperiores.
		+e.item-buttons
			+e('span').item-button_view-icon.icon-eye
			+e('span').item-button_view-value 50
			+e('span').item-button_like-icon.icon-heart
			+e('span').item-button_like-value 3
			+e('span').item-button_share-icon.icon-share2
			+e('span').item-button_share-value Share