+b('form').form
	+e('h3').title Заголовок 
	+e.description Оставьте свой номер телефона и мы свяжемся с Вами
	+e('input').input(type='text' placeholder='Номер телефона')
	+e('button').button Позвоните мне