+b.article
	+e.title.h1 Lorem ipsum dolor sit amet,  elit. 
		+e.date 09 december
	+e('img').image_full(src=pathImg+'article__image.jpg')
	+e.content
		h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum rem architecto iste, modi itaque tenetur adipisci expedita. Ea ratione eveniet, amet nihil error molestias animi distinctio, cumque corporis illo debitis.
