+b.employer._floated._about
	+e.title Заголовок 
	+e.photo-mask
		+e(img).photo(src='/img/thumb_photo.jpg')
	+e.name Подзаголовок
	+e.post Описание
	+e.phone текст
	+e(a).email.link(href="mailto:ipoteka@mattis.spb.ru") email@yandex.ru